/*Universal Styling*/
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --maroon: #24050d;
  --deeppink: #fb6f92;
  --pink: #ffbbcc;
  --lightpink: #ffe5ec;
  --grey: #9d8189;
  --white: #fefefe;
}

body {
  font-family: 'Poppins', sans-serif;
}

/*Launch Page styling*/
.launchPage {
  background-image: url(./assets/desktop-image.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  position: relative;
  text-align: center;
}

.launchPage>div {
  padding-block: 2rem;
  height: 100%;
}

.launchPage__title {
  color: var(--maroon);
  text-align: center;
  margin-top: 2rem;
}

.launchPage__catchphrase {
  position: absolute;
  bottom: 8rem;
  color: var(--maroon);
  left: 50%;
  transform: translateX(-50%)
}

.launchPage__link {
  position: absolute;
  bottom: 4rem;
  color: var(--maroon);
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 3px solid var(--maroon);
  display: block;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

.launchPage__motherhood {
  color: var(--deeppink);
  font-weight: bold;
}

/*Styling Community post detail page*/
.nameTag {
  display: flex;
}

.nameLogo {
  margin-top: 1em;
  background-color: var(--grey);
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 16px;
  padding-left: 0.6rem;
  padding-top: 0.1rem;
  color: var(--lightpink);
}

.topicTitle {
  background-color: var(--pink);
  width: fit-content;
}

.posterName {
  margin-left: 8px;
}

aside {
  color: var(--pink);
}

i {
  font-size: x-small;
}

.collapsible__content p {
  margin: 0;
}

.expand {
  width: 36px;
  height: 36px;
  background-image: url(./assets/expand-arrow.png);
  background-size: cover;
  margin-top: 0;
}

.icon__display {
  display: flex;
  justify-content: space-between;
}

.reply__icon {
  width: 24px;
  height: 24px;
  background-image: url(./assets/reply-arrow.png);
  background-size: cover;
}

.like__icon {
  width: 24px;
  height: 24px;
  background-image: url(./assets/heart.png);
  background-size: cover;
}

.activity__icons {
  display: flex;
  gap: 2rem;
}

.icons__div {
  display: flex;
  justify-content: space-between;
}

/*STYLING FOR MOBILE VIEW*/
@media(max-width:480px) {

  /*Launch Page styling*/
  .launchPage {
    background-image: url(./assets/mobile-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .launchPage__catchphrase {
    color: var(--white);
  }

  .launchPage__link {
    color: var(--deeppink);
    border-bottom: 2px solid var(--pink);
  }

  .launchPage__motherhood {
    color: var(--deeppink);
  }
}