/*Universal Styling*/
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --maroon: #24050d;
  --deeppink: #fb6f92;
  --pink: #ffbbcc;
  --lightpink: #ffe5ec;
  --grey: #9d8189;
  --white: #fefefe;
}

body {
  font-family: "Poppins";
}

.container {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/login-background.jpg);
}

.wrapper {
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #ffbbcc;
  box-shadow: -8px 4px 8px rgba(251, 111, 146, 0.5);
}

.wrapper > div {
  margin-bottom: 3rem;
}

.error-message {
  color: red;
}

.btn {
  margin-bottom: 2rem;
  width: 120px;
  height: 40px;
  background: #fb6f92;
  border-radius: 8px;
  margin-top: 1rem;
}

form {
  padding-inline: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > div {
  margin-bottom: 1rem;
}

.signup-text {
  text-decoration: none;
  color: #fb6f92;
}

.title {
  width: 102px;
  height: 36px;
  font-size: 30px;
  line-height: 36px;
  color: #fb6f92;
}

.text-field1 {
  margin-top: 0.5rem;
  width: 350px;
  height: 37px;
  border: 1px solid #ffbbcc;
  border-radius: 10px;
}

.field-title1 {
  color: #24050d;
}

.text-field2 {
  margin-top: 0.5rem;
  width: 350px;
  height: 37px;
  border: 1px solid #ffbbcc;
  border-radius: 10px;
  background-image: url(./assets/lock-icon.png);
  background-position: 20rem;
  background-repeat: no-repeat;
}

.field-title2 {
  color: #24050d;
}

/* Community Post Page */

.title-header {
  margin-right: 10px;
  color: #fb6f92;
}

.field-subject {
  box-sizing: border-box;
  font-family: inherit;

  position: relative;
  width: 100%;
  height: 36px;
  left: 0vh;
  background: #ffffff;
  border: 1px solid #9d8189;
  border-radius: 8px;
}

.field-message {
  box-sizing: border-box;
  position: relative;
  font-family: inherit;
  width: 100%;
  height: 319px;
  left: 0vh;
  background: #ffffff;
  border: 1px solid #9d8189;
  border-radius: 8px;
  margin-top: 6px;
}

._btn {
  padding-left: 24px;
  padding-right: 24px;
  padding-block: 4px;
  left: 0vh;
  top: 70vh;
  background: #fb6f92;
  border-radius: 2px;
  border: none;
}

._btn2 {
  height: 40px;
  border: none;
  background: none;
}

._container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #ffbbcc;
  border-radius: 8px;
  padding-inline: 20px;
}

._header {
  background: #fefefe;
  text-align: center;
}

.btm-text {
  margin-top: 24px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.form-buttons button {
  border-radius: 8px;
  font-size: 20px;
}

.btm-checker {
  display: flex;
  justify-content: flex-start;
}

/*Launch Page styling*/
.launchPage {
  background-image: url(./assets/desktop-image.png);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  position: relative;
  text-align: center;
}

.launchPage > div {
  padding-block: 2rem;
  height: 100%;
}

.launchPage__title {
  color: var(--maroon);
  text-align: center;
  margin-top: 2rem;
}

.launchPage__catchphrase {
  position: absolute;
  bottom: 8rem;
  color: var(--maroon);
  left: 50%;
  transform: translateX(-50%);
}

.launchPage__link {
  position: absolute;
  bottom: 4rem;
  color: var(--maroon);
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 3px solid var(--maroon);
  display: block;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

.launchPage__motherhood {
  color: var(--deeppink);
  font-weight: bold;
}

/*STYLING FOR MOBILE VIEW*/
@media (max-width: 480px) {
  /*Launch Page styling*/
  .launchPage {
    background-image: url(./assets/mobile-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .launchPage__catchphrase {
    color: var(--white);
  }

  .launchPage__link {
    color: var(--deeppink);
    border-bottom: 2px solid var(--pink);
  }

  .launchPage__motherhood {
    color: var(--deeppink);
  }
}
/* modal */

.modal-bg {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalbox {
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  border-radius: 8px;
  background: var(--white);
  border: 2px solid #9d8189;
  border-radius: 8px;
  padding-inline: 30px;
}

.close {
  color: #9d8189;
  font-size: 28px;
  margin: 0.5rem;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.reply-field {
  font-family: inherit;
  width: 85%;
  height: 36px;
  background: #ffffff;
  border: 1px solid #fb6f92;
  border-radius: 8px;
  margin-inline: 2rem;
  margin-left: 15px;
}

.circle {
  background: var(--grey);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #ffbbcc;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.user-logo {
  color: #ffbbcc;
  font-size: larger;
  margin-left: 0.4rem;
}

.reply-btn-icon {
  background-image: url(./assets/Vector.png);
  background-repeat: no-repeat;
  background-position: right;
}

.user-name {
  display: flex;
  margin-bottom: -20px;
}

.like-btn-icon {
  width: 20px;
  height: 20px;
  background-image: url(./assets/icon-park-outline_like.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
